name: Update

on:
  schedule:
    - cron: '0 0 */2 * *'  # Every 2 days at midnight UTC
  workflow_dispatch:

jobs:
  download_extract_edit:
    runs-on: ubuntu-latest

    steps:
      - name: Download self-host.zip
        run: wget -O self-host.zip https://github.com/zardoy/minecraft-web-client/releases/latest/download/self-host.zip

      - name: Extract ZIP into root (excluding dist/config.json)
        run: unzip -o self-host.zip -x dist/config.json -d ./

      - name: Done
        run: echo "Extraction completed. dist/config.json left untouched."
