name: Download and Extract ZIP

on:
  schedule:
    - cron: '0 0 */2 * *'  # Every 2 days at midnight UTC
  workflow_dispatch:    # Manual trigger

jobs:
  download_and_extract:
    runs-on: ubuntu-latest

    steps:
      - name: Download self-host.zip
        run: wget -O self-host.zip https://github.com/zardoy/minecraft-web-client/releases/latest/download/self-host.zip

      - name: Extract ZIP into root
        run: unzip -o self-host.zip -d ./
